profiles {
    standard {
        process.executor = 'slurm'
        process.queue = 'lg-n64-256g'
        process.cpus = 16
        process.memory = 64.GB
        process.time = '12h'
    }
    local {
        process.executor = 'local'
        process.cpus = 4
        process.memory = 16.GB
        process.time = '24h'
    }
}
params {
    refDir = "${projectDir}/references"
}
